<div class="col-xs-10 col-xs-offset-1">
  <h1>Sobre Pájaro en Mano...</h1>    

  <p>
    Pájaro en mano era creado por <a target="_blank" href="https://github.com/bennypaulino">Benny</a>. Hay muchos refranes que uno escucha departe de nuestros mayores, aquí los podemos compartir y reir un poco también.
  </p>

</div>

<br class="clear" />
<br>