@import url(https://fonts.googleapis.com/css?family=Flamenco:300,400|Josefin+Slab:400,700,700italic,400italic);

.clear {
  clear: both;
}

.logo:hover {
  text-decoration: none;
}

.slogan {
  font-family: bilboregular;
  padding-top: 26px;
  font-size: 1.4em;
}

.links {
  padding-top: 26px;
  font-family: 'bilboregular'
}

.links a {
  color: #799E35;
  font-size: 2.5em;
  font-family: 'bilboregular'
}

header {
  border-top: 9px solid #582A72;
}

.logo {
  padding-top: 4px;
  padding-bottom: 4px;
}

hr {
  clear: both;
}

h1 {
  font-family: 'bilboregular';
  font-weight: 600;
  letter-spacing: .1em;
  font-size: 48px;
}

h2 {
  font-family: 'Flamenco', cursive;
}

h3 {
  font-family: 'Flamenco', cursive;
}

p {
  font-family: 'Flamenco', cursive;
  font-size: 1.2em;
}

//font-family: 'Josefin Slab', serif;
//font-family: 'Flamenco', cursive;

.next-quote {
  color: #8B2F5F;
  font-family: 'bilboregular';
  font-size: 2em;
  font-style: bold;
}

.footer-blurb {
  font-family: 'bilboregular';
  text-align: right;
  font-size: 1.2em;
}

#myModalLabel {
    font-family: 'bilboregular';
    font-size: 2.4em;
    font-weight: 600;
    word-spacing: .2em;
}

.modal-body {
  font-family: 'Flamenco', cursive;
  font-size: 1.2em;
  font-weight: 400;
}

@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
}

h3 span {
  color: #A29BA6;
}

#tagLine {
  font-family: 'bilboregular';
  color: #ddd;
}

::selection {
  background-color: #E2FFAF;
}